@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,700;1,400&display=swap');

body{
    font-family: 'Crimson Text', sans-serif;
    color: #333;
}

ul{
    list-style-type: none;  
}

a{
    text-decoration: none;
    color: #333;
}

.hidden{
    visibility: hidden;
    height: 0;  
}

/* LAYOUT  */

/* Navbar */
.navbar{
    width: 100%;
    height: 70px;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.navbar .container{
    height: 100%;
    justify-content: space-between;
}

.navbar li{
    margin: 0px 20px;
}

.active{
    border-bottom: 1px solid black;
}

.navbar nav a:hover{
    border-bottom: 1px solid black;
}


.logo{
    justify-self: flex-start;
    font-weight: bold;
    font-size: 2rem;
}


/* Hero */
.hero {
    width: 100%;
    height: 800px;
    background-image: url(../images/first.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.hero::after, .hero::before{
    content: '';
    position: absolute;
    height: 176px;
    bottom: -57px;
    right: 0;
    left: 0;
    background-color: #fff;
    transform: skewY(4deg);
    z-index: 1;
}

.hero .container {
    padding-top: 100px;
    padding-left: 150px;
    height: 90%;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-around;
}

.hero h1{
    color: #fff;
    font-size: 6rem;
    font-weight: 400;
}

.hero article span{
    color: #fff;
    font-size: 1.5rem;
}

.btn{
    color: #fff;
    background-color: #000;
    padding: 20px 10px;
    margin-top: 10px;
    width: 30%;
    font-family: 'Crimson Text';
    font-size: 1rem;
}

.hero .container section{
    flex-flow: column nowrap;
    align-items: flex-start;
    width: 30%;
    height: 400px;
    background-color: #000;
    color: #fff;
    justify-content: space-around;
    padding: 10px 20px;
    margin-top: 20px;
    z-index: 2;
}

.hero .container section h2{
    font-size: 1.4rem;
    font-weight: 400;
}

.btn-secondary{
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    font-family: 'Crimson Text';
}

/* Icons */
.icons{
    height: 400px;
    width: 100%;
}

.icons .container{
    height: 350px;
}

.icons .container section{
    height: 100%;
    width: 33%;
    flex-flow: column nowrap;
    justify-content: space-around;
    padding: 80px 15px;
}

.icons .container section i{
    font-size: 2.5rem;
}

.icons .container section h3{
    font-size: 1.5rem;
    font-weight: 700;
}

.icons .container section p{
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
}

/* Momentum */
.momentum{
    height: 400px;
    width: 100%;
    background-color: #f3f4f6;
}
.momentum > .flex{
    justify-content: space-around;
}
.momentum .container.flex section{
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
    height: 400px;
    padding: 25px 0;
    align-items: flex-start;
}

.momentum .flex section h3{
    font-size: 2.5rem;
    font-weight: 400;
}

.momentum img{
    height: 310px;
    width: 450px;
}













/* Utilities */
.container{
    max-width: 1200px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;    
}

.flex{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}